.container {
  display: flex;
  /* margin-top: -30px; */
}

.part1 {
  width: 20%;
  /* border: 1px solid black; */
  padding: 5px;
}

.part2 {
  flex-grow: 1;
  /* border: 1px solid black; */
  padding: 5px;

}

.table{
  overflow-x: auto;
  width: 76vw;
  background: white;
}
.fullTable{
  overflow-x: auto;
  width: 85vw;
  background: white;
}
.summary{
    padding: 5px;
}

