.container {
  display: flex;
  /* margin-top: -30px; */
}

.part1 {
  width: 15%;
  /* border: 1px solid black; */
  padding: 5px;
}

.part2 {
  flex-grow: 1;
  /* border: 1px solid black; */
  padding: 5px;

}

.table{
  overflow-x: auto;
  width: 80vw;
  background: white;
}
.fullTable{
  overflow-x: auto;
  width: 85vw;
  background: white;
}
.summary{
    padding: 5px;
}

.transaction-radio-group .ant-radio-button-wrapper-checked[value="open"] {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: white !important;
}

.transaction-radio-group .ant-radio-button-wrapper-checked[value="close"] {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  color: white !important;
}

